<web-app>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ItemsController</servlet-name>
        <servlet-class>servlets.ItemsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemsController</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
</web-app>