language: java
sudo: false
services:
  - postgresql
before_script:
  - psql -c "CREATE DATABASE tracker;" -U postgres
  - psql -c "CREATE DATABASE userStore;" -U postgres
after_success:
  - bash <(curl -s https://codecov.io/bash)

notifications:
  email:
    recipients:
      - lemdyanov5@mail.ru
    on_success: never # default: change
    on_failure: always # default: always