<web-app>
    <servlet>
        <servlet-name>EchoServlet</servlet-name>
        <servlet-class>lemdyanov.servlets.EchoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <http-method>DELETE</http-method>
        <http-method>PUT</http-method>
        <servlet-class>protocol.UsersServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>CreateServlet</servlet-name>
        <servlet-class>servlet.CreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>servlet.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnServlet</servlet-name>
        <servlet-class>servlet.ReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>servlet.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServletJSP</servlet-name>
        <servlet-class>jsp.CreateServletJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServletJSP</servlet-name>
        <servlet-class>jsp.DeleteServletJSP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServletJSP</servlet-name>
        <servlet-class>jsp.UpdateServletJSP</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EchoServlet</servlet-name>
        <url-pattern>/echo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/users</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServlet</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServletJSP</servlet-name>
        <url-pattern>/createJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServletJSP</servlet-name>
        <url-pattern>/deleteJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServletJSP</servlet-name>
        <url-pattern>/editJSP</url-pattern>
    </servlet-mapping>
</web-app>